# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Local env files
.env
.env.local
.env.*.local

# Capacitor native build artifacts
ios/App/App/public/
ios/App/Pods/
ios/capacitor-cordova-ios-plugins/
android/app/src/main/assets/public/
android/.gradle/
android/app/build/
android/capacitor-cordova-android-plugins/
